@import 'vars';
p, span, h1, h2, h3, h4, h5, h6, li{
    cursor: default;
}
main{
    .home, .login, .propiedad{
        margin-top: 56px;
    }
    .error-404{
        background-image: url('./../img/404.jpg');
        margin-top: 55px;
    }
    section{
        background-image: $backMain;
        background-position: center;
        background-size: cover;
        min-height: 100vh;
        margin-top: 105.438px;
    }
    .home-present{
        text-align: left;
        margin: auto;
        margin-top: 0;
        height: 30vh;
        padding: 3%;
        h2{
            font-size: 2.3em;
        }
        .off-btn{
            text-align: center;
            display: block;
            margin: auto;
            width: 300px;
        }
    }
    .key-home{
        margin-left: 2%;
        width: 150px;
        height: auto;
    }
    footer{
        background-color: #000;
    }
    .box{
        background-color: #dc3545;
        border-radius: 10px;
        transition: .5s;
        height: 250px;
        margin: auto;
        padding: 0;
        margin-top: 0;
    }
    .box:hover{
        box-shadow: 0px 0px 10px #000;
        transition: .5s;
        cursor: pointer;
    }
    .box-content-image{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 150px;
        @keyframes rotateIcon {
            50%{transform: rotate(-15deg);};
        }
        .sale{
            animation: rotateIcon 2s ease infinite;
            position: absolute;
            margin: 1%;
            right: 0;
            top: 0;
            width: 50px;
            height: auto;
        }
    }
    .box-content-image-1{
        background-image: url('./../img/house.jpg');
    }
    .box-content-image-2{
        background-image: url('./../img/apartment.jpg');
    }
    .box-content-image-3{
        background-image: url('./../img/cowork.jpg');
    }
    .box-description{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-shadow: 0px 0px 10px #000;
        p{
            margin-top: 25px;
        }
        text-align: center;
        font-size: 1.5em;
        font-weight: 700;
        color: #FFAA00;
        height: 100px;
    }
    .form-login{
        margin: auto;
        margin-top: 10vh;
        width: 50%;
    } 
    .tips5-login{
        background-image: url('./../img/tips-login-photo.jpg');
        background-position: center;
        background-size: cover;
        min-height: 100vh !important;
        padding: 0;
    }
    .title-tips-login{
        font-size: 1.5em;
        padding: 2%;
        color: #FFF;
        margin: 1%;
        max-width: 80%;
        min-height: 10vh;
    }
    header{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .terrenos, .propiedad{
        background-image: none !important;
        background-color: rgb(225, 225, 225) !important;
    }
    .propiedad{
        table{
            margin: auto;
            margin-top: 10vh;
            padding: 0;
            width: 100%;
        }
        @media (max-width: 372px) {
            table{
                font-size: 10px;
            }
            .description-product{
                font-size: 12px;
                margin: 0 !important;
            }
        }
        .content-table{
            .card{
                margin: auto;
                margin-top: 10vh;
            }
        }
        .checkout-query-product{
            min-height: 140vh;
            .card-body{
                height: 150px;
            }
        }
        .view-more{
            display: block;
            width: 150px;
            margin: 3% auto;
        }
        .product-image{
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            cursor: pointer;
            max-width: 100%;
            margin: auto;
            margin-top: 10vh;
            height: 50vh;
        }
        .btn-next-img-product, .btn-back-img-product, 
        .btn-next-img-product:focus, .btn-back-img-product:focus{
            background-image: url('./../img/iterator.png');
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transition: .5s;
            margin: 2%;
            margin-top: 35vh;
            outline: none;
            z-index: -1;
            border: none;
            height: 50px;
            width: 50px;
            opacity: 0;
        }
        .btn-next-img-product:hover, .btn-back-img-product:hover{
            transition: .5s;
            height: 55px;
            width: 55px;
        }
        .btn-next-img-product{
            position: absolute;
            right: 0;
            top: 0;
        }
        .btn-back-img-product{
            position: absolute;
            left: 0;
            top: 0;
        }
        .btn-back-img-product{
            transform: rotate(180deg);
        }
        .product-image:hover .btn-next-img-product, .product-image:hover .btn-back-img-product{
            z-index: 0;
            opacity: 1 !important;
            transition: .5s;
        }
        .description-product{
            margin-bottom: 10vh !important;
        }
        .amount{
            font-weight: 700;
            font-size: 30px;
        }
        .title-related-search{
            font-size: 20px;
            margin: 5%;
        }
        .related-search{
            margin: 1% auto;
            transition: .5s;
        }
        .related-search:hover{
            background-color: rgba($color: #000000, $alpha: 0.2);
            transition: .5s;
        }
        .img-related-search{
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 50%;
            height: 100%;
        }
        .content-related-search-product{
            font-weight: 700;
            position: absolute;
            padding: 5%;
            height: 100%;
            right: 0;
            top: 0;
            .title-related-search-product{
                font-size: 20px;
            }
            .amount-related-search-product{
                font-size: 15px;
            }
        }
        .content-related-search-product li{
            display: block;
            padding: 1%;
            width: 200px;
            list-style: none;
        }
        .tags-search{
            a, a:focus{
                text-decoration: none;
                transition: .5s;
                font-weight: 700;
                color: #FFF;
            }
            a:hover{
                transition: .5s;
                color: #FFAA00;
            }
            display: inline-block;
            border-radius: 50px;
            font-size: 12px;
            color: #FFF;
            padding: 1%;
            margin: .5%;
        }
        .item-product-list{
            width: 100%;
            margin: 1%;
            padding: 0;
        }
        .item-product-list li{
            display: inline-block;
            list-style: none;
            font-weight: 700;
            padding: 3%;
        }
        .item-product{
            width: 50px;
            height: auto;
        }
        .count-item-product{
            text-align: center;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 2%;
        }
    }
    .box-product{
        height: 500px;
        margin: 1% auto;
        .title-prod-list{
            text-align: center;
            font-weight: 700;
            margin: 1% auto;
            width: 80%;
        }
        ul{
            text-align: center;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        li{
            text-align: center;
            list-style: none;
            font-weight: 700;
        }
        .status-list-product{
            border-radius: 50px;
            margin: auto;
            width: 45%;
        }
        .tags-search{
            display: inline-block;
            border-radius: 50px;
            font-size: 12px;
            color: #FFF;
            padding: 1%;
            margin: .5%;
        }
    }
    .box-product-img{
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: auto;
        height: 300px;
    }
    .btn-travel{
        position: absolute;
        margin: auto;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .box-control-product{
        min-height: 100vh;
    }
    .filter-nav ul{
        text-align: center;
        margin: auto;
        width: 100%;
    }
    .filter-nav li{
        display: inline-block;
        padding: 1%;
    }
    .not-results{
        height: 100vh;
        span{
            display: block;
            font-weight: 700;
            text-align: center;
            margin: auto;
            margin-top: 5vh;
        }
    }
    .btn-itemPag, .btn-itemPag:focus, .btn-itemPag:hover{
        display: inline-block;
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        border-radius: 50%;
        transition: .5s;
        color: #000;
        padding: 2%;
        margin: 1%;
        width: 40px;
        outline: none;
        height: 40px;
        border: none;
        background-color: rgba(0, 0, 0, .3);
    }
    .btn-itemPag:hover{
        background-color: rgba(255, 178, 0, 1);
    }
}