        <footer class="row bg-primary">
            <article class="col-12 col-sm-12 col-lg-12 col-xl-12 p-0">
                <p>This is footer</p>
            </article>
        </footer>
        </main>
        <%- include('./../components/scripts') %>
    </body>
</html>